#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="range"]::-moz-range-progress {
  background-color: #e63d76;
}

input[type="range"]::-moz-range-track {
  background-color: grey;
}

input {
  position: relative !important;
  top: 2px !important;
}

.square {
  transition: .075s;
  font-size: 1.5em;
  font-weight: 600;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}